
#general
Tether/res/config.txt

#linux
*.swp

#eclipse
Tether/Debug/
Tether/Release/
Tether/.settings/*
Tether/.cproject
Tether/.project
Tether/SFML/



#sconstruct
.sconsign.dblite
bin/
build/

#default executable location
whisp
whisp_debug
whisp.exe
whisp_debug.exe


#stuff in the test area
Tether/test/logging_test/*.log
Tether/test/logging_test/*.exe
Tether/test/logging_test/*.o
Tether/test/logging_test/log_*

#test copies in executable location for windows
Tether/*.exe


#vscode & Windows dependencies
deps
*.dll
dependency_install
.vscode/
Tether/test/area

#imgui inis
*imgui.ini
